.wp-block-last-commented-posts li {
    line-height: 1.1;
    list-style: none;
    margin-bottom: 1em;
  }
  
ol.wp-block-last-commented-posts  {
    margin: 0;
    padding: 0;
  }

.wp-block-last-commented-posts .comment-author-link {
  color: #000;
  font-weight: normal;
  font-size: 85%;
}

.wp-block-last-commented-posts a {
  font-weight: bold;
}